
body {
  font-family: Arial, Verdana, Geneva, Tahoma, Helvetica, sans-serif;
}
.tsd-signature {
  border-width: 1px 0;
  background: linear-gradient(45deg, #EFFBFF, #FEFEFF);
}
.tsd-flag {
  display: inline-block;
  padding: 1px 5px;
  border-radius: 4px;
  color: #fff;
  background-color: #d86b2f;
  text-indent: 0;
  font-size: 14px;
  font-weight: normal;
  vertical-align: text-top;
}